.post
  %h1.title= @post.title
  .date= @post.created_at.strftime('%F')
  - if user_signed_in?
    .operation
      = link_to('edit',edit_post_path(@post),class: "btn btn-primary")
      = link_to('destroy',post_path(@post),class: "btn btn-warnning",:method => :DELETE)
  .content= sanitize @content
